mixin loader(mods)
  -
    const baseName = 'loader'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  -
    const items =[
      { img: 'loader-item-1.svg' },
      { img: 'loader-item-2.svg' },
      { img: 'loader-item-3.png' },
    ]

  .loader(class=allMods)&attributes(attributes)
    .loader__main
      each item in items
        .loader__item
          img(src=`../../images/${item.img}`, alt='')
    block
