footer.footer
  .inner
    .footer__policies
      a.footer__policy(href='#') Политика конфиденциальности
      a.footer__policy(href='https://promo01.ru/' target='_blank') Разработка сайтов “Генерация”
