.form-registry {
  position: relative;
  padding-bottom: 60px;
  @include media-laptop {
    padding-bottom: 110px;
  }
  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: unset;
      @include media-tablet {
        bottom: -70px;
        transform: translateX(-35%);
      }
    }
  }
  &__coin {
    position: absolute;
    animation: float-y-l 5s ease-in-out infinite;
    @include media-tablet {
      animation: float-y 4s ease-in-out infinite;
    }
    &--1 {
      top: 100px;
      left: 0;
      width: 422px;
      @include media-laptop {
        top: auto;
        bottom: 0;
      }
      @include media-tablet {
        left: -15px;
        z-index: 1;
        width: 180px;
      }
    }
    &--2 {
      top: 0;
      right: 40px;
      width: 220px;
      animation-delay: 0.9s;
      @include media-laptop {
        top: -80px;
        right: 10px;
        width: 160px;
      }
      @include media-tablet {
        display: none;
      }
    }
    &--3 {
      right: 0;
      bottom: 0;
      width: 800px;
      animation-delay: 0.6s;
      @include media-laptop {
        display: none;
      }
      @include media-tablet {
        top: -120px;
        right: -40px;
        bottom: unset;
        display: block;
        width: 160px;
      }
    }
  }
  &__text-anim {
    color: $white;
    background: $blue;
  }
  &__wrapper {
    position: relative;
    max-width: 1094px;
    margin: 0 auto;
  }
  &__main {
    position: relative;
    padding: 52px;
    background: $white;
    border-radius: 15px;
    @include media-tablet {
      padding: 38px 26px 22px;
      border-radius: 10px;
    }
    &::before {
      content: '';
      position: absolute;
      top: -100px;
      right: 10%;
      z-index: -1;
      width: 290px;
      height: 215px;
      background: rgb(0 176 255 / 0.7);
      filter: blur(200px);
    }
  }
  &__row {
    &:not(:first-child) {
      margin-top: 25px;
      @include media-tablet {
        margin-top: 10px;
      }
    }
    &--mt-l {
      &:not(:first-child) {
        margin-top: 38px;
        @include media-tablet {
          margin-top: 25px;
        }
      }
    }
  }
}
